
.off, .on{
	width:24px;
	height:24px;
	margin-right:5px;
	display: inline-block;
	vertical-align: middle;
	background-size: cover;
}

.off{
	background-image: url('../img/off.png');
}

.on{
	background-image: url('../img/on.png');
}

.off:hover{
	cursor: pointer;
}